rhythm.med.uoc.gr {
	encode zstd gzip

	@static path /static/*
	handle @static {
		root * /srv
		file_server
	}

	@media path /media/*
	handle @media {
		root * /srv
		file_server
	}

	handle {
		reverse_proxy web:8000
	}
}
